@import url("https://use.typekit.net/ccg4ogq.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
:root {
  --code-blue: rgb(2, 53, 129);
  --code-orange: rgb(238, 163, 51);
  --code-black: #1f1f1f;
}

.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter'
  
}

body{
  font-weight: light;
  background-color: var(--code-black);
  color: white;
}

a{
  color:white;
  text-decoration: none;
  margin: 10px 0;
  z-index: 1;
  position: relative;
}

select{
  font-size: 1.3rem;
  padding: 10px;
  margin-right: 45px;
  margin-left: 7px;
  width: 200px;
}
option{
  padding: 20px;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--code-orange);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


input::placeholder {
  color: #dadada; 
}


.container{
  overflow-x: auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  text-align: center;
  flex: 1;
  padding: 50px;
  margin-top: 0px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  display:none;
  background-color: var(--code-orange);
}

.logo{
  padding: 30px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.profileLogo{
  padding: 5px;
  height: 40px;
  width: 40px;
}

#profileHeader { 
  align-self: center; 
  width: 80%; 
  background-color: rgb(248, 15, 15); 
}

.side-nav{
  height: 100vh;
  width: 400px;
  left: 0;
  top: 0;
  background-color: var(--code-blue);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  transition: width .5s ease;
}
.side-nav-links{
  padding: 30px;
  display:flex;
  flex-direction: column;
}
.side-nav-links a{
  margin: 20px 0;
}
.side-nav 
.inventory{
  padding: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.side-nav-collapsed{
  padding: 15px;
  background-color: var(--code-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 70px;
  font-size: 2rem;
  left: -400px;
  transition: width .5s ease;
}

.hamburger{
  margin: 20px 0px;
  z-index: 2;
  width: 40px;
  filter: invert(100%);
}
.hamburger:hover{
  cursor: pointer;
}
.search-bar{
  text-align: left;
  margin:  0;
}
.search-bar input{
  font-size: 1.2rem;
  color:white;
  padding:5px;
  border: none;
  border-bottom: 2px solid var(--code-orange);
  background-color: var(--code-black);
}
.search-bar img{
  filter: invert(100%);
  width: 18px;
  margin-left: -20px;
}

.search-bar input:focus{
  outline: none;
  border-bottom: 3px solid white;
}

.search-bar button{
  background-color: var(--code-orange);
  border-radius: 20px;
  transition: .1s ease-in;
}
.search-bar button:hover{
  cursor: pointer;
  border-color: white;
}

.saveButton {
  border-radius: 15px;
  padding: 10px;
  color: orange;
  font-size: 15px;
}

.addNewButton{
  padding: 15px;
  background-color: var(--code-blue);
  color:white;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.219);
  font-size: 1.2rem;
  margin: 25px 0;

}

.addNewButton:hover{
  border: 2px solid white;
  cursor: pointer;
  background-color: #0082d98b;
}

.modal-background {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61); /* Semi-transparent black */
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.newRowForm{
  display:flex;
  font-size: 1.2rem;
  flex-direction:column;
  align-items: center;
  background-color: var(--code-black);
  padding: 50px;
  border-radius: 35px;
  min-height: 20%;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.459);
}
.newRowForm::-webkit-scrollbar {
  display:none;
}


.newRowForm h1{
  margin-bottom: 30px;
}
.newRowForm input{
  padding: 12px;
  color:white;
  background-color: rgb(41, 41, 41);
  border: 2px solid white;
  border-radius: 15px;
  margin: 20px 30px;
  font-size: 1.2rem;
}

.newRowForm button{
  padding: 15px;
  color:white;
  color:white;
  border-radius: 15px;
  border: 2px solid white;
  transition: .1s ease-in;
  font-size: 1.2rem;
}

.newRowForm button:hover{
  cursor: pointer;
}

.newRowForm select{
  background-color: var(--code-black);
  color:white;
  border: 2px solid white;
  border-radius: 15px;
  width: 100px;
  padding: 15px;
}

.newRowFormContainer{
  text-align: right;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.newRowFormValues{
  flex-direction: column;
  display:flex;
  margin: 0 40px;
}
.newRowFormValues div{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.inventory-table{
  margin-top: 30px;
  background-color: white;
  font-size: 1.3rem;
  width: 100%;
  color:white;
  border-collapse: collapse;
  border: 3px solid white;
}
.inventory-table th, .inventory-table td{
  
  padding: 25px 20px;
  background-color: var(--code-black);
}
.inventory-table td{
  padding: 8px 20px;
}
.inventory-table thead{
  border-bottom: 3px solid white;
}
.inventory-table button{
  padding: 9px 12px;
  background-color: var(--code-orange);
  color:black;
  font-size: 1rem;
  font-weight: bolder;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid var(--code-black);
  transition: .2s ease-in;
}
.inventory-table button:hover{

  cursor: pointer;
  border: 2px solid white;
}

.editForm input{
  min-width: 80px;
  max-width: 100px;
  background-color: var(--code-black);
  border: 1px solid white;
  border-radius: 8px;
  color:white;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.editForm select{
  padding: 12px;
  background-color: var(--code-black);
  color:white;
}

.editForm select{
  font-size: 1.1rem;
  padding: 5px;
  width: 80px;
}

.editForm td{
  padding: 0;
}

.login-page{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-form{
  width: 800px;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  display:flex;
  flex-direction: column;
  padding: 150px 80px;
  font-size: 2rem;
  border: 2px solid var(--code-black);
  background-color: var(--code-blue);
  border-radius: 25px;
}
.login-form div{
  margin: 35px 0;
}

.login-form input{
  width: 100%;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  color:black;
  padding: 12px;
  font-size: 1.5rem;
}

.login-form button{
  padding: 20px;
  background-color: var(--code-orange);
  color:black;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 20px 0;
  border-radius: 30px;
  border: 2px solid var(--code-black);
  transition: .2s ease-in;
}

.login-form button:hover{

  cursor: pointer;
  border: 2px solid white;
}

.login-form p{
  font-size: 1.5rem;
  text-decoration: underline;
}

.login-form p:hover{
  cursor: pointer;
  color: var(--code-orange);
}

#register-form div{
  margin: 15px 0;
}
.login-logo{
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 30px;
}

.profileInfo{
  width: calc(200px - 10vw);
  display: inline-block;
  border: 2px solid rgb(145, 136, 136);
  background-color: gray;
  width: 80%;
  margin: 300px;
  z-index: 1;
}

.profileFields *{
  display :block;
    margin: 10px;
}

.error-msg{
  color: red;
  font-size: .8rem;
  text-decoration: none !important;
}

.side-button{
  padding: 15px;
  background-color: var(--code-orange);
  color:white;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.219);
  font-size: 1.2rem;
  margin-top: 80px;
  transition: .1s ease-in;
}
.side-button:hover{
  background-color: var(--code-blue);
  cursor: pointer;
  border: 2px solid white;
}

.toggle-password{
  position: absolute;
  margin-left: -50px;
  margin-top: 12px;
  color:black;
}

.secondary-button{
  padding: 8px;
  color: black !important;
  background-color: var(--code-orange);
  border-radius: 30px;
  font-size: .8rem;
  border: 1px solid black !important;
  margin: 5px 3px;
  transition: .1s ease-in;
}
.secondary-button:hover{
  cursor: pointer;
  background-color: #d5a000a7;
}
.second-table{
  margin-top: 50px;
}
.second-table tr{
  width: 100%;
  align-items: center;
  margin: 20px;
}
.second-table tr td, .second-table th{
  margin: 0 15px;
  width: 190px;
}

.second-table tr input{
  width: 150px;
  font-size: 1rem;
  padding: 10px;
}

.maintenanceDiv input{
  width: 180px;
  font-size: .9rem;
  margin: 15px 15px;
}

.modal-content{
  width: 800px;
  background-color: var(--code-black);
  border-radius: 30px;
  padding: 100px;
  
}
.modal-actions{
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.loanAddForm{
  font-size: 1.1rem;
}
.loanAddForm input{
  font-size: 1.1rem;
  padding: 12px;
}



@media screen and (max-width: 1800px){
  .content{
    margin-top: 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .side-nav, .side-nav-collapsed{
    display:none;
  }
  .logo{
      padding: 30px;
      height: 125px;
      width: 250px;
      border-radius: 0px;
  }
}
