:root {
  --code-blue: rgb(2, 53, 129);
  --code-orange: rgb(238, 163, 51);
  --code-black: #1f1f1f;
}

.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--code-black);
  color: white;
}

a{
  color:white;
  text-decoration: none;
  margin: 10px 0;
  z-index: 1;
}
.container{
  overflow-x: auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  text-align: center;
  flex: 1;
  padding: 50px;
  margin-top: -150px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  display:none;
  background-color: var(--code-orange);
}

.logo{
  padding: 30px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.side-nav{
  height: 100vh;
  width: 400px;
  left: 0;
  top: 0;
  background-color: var(--code-blue);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.side-nav-links{
  padding: 30px;
  display:flex;
  flex-direction: column;
}
.side-nav 
.inventory{
  padding: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.search-bar{
  margin: 40px;
}
.search-bar input, .search-bar button{
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 8px;
}

.search-bar input:focus{
  outline: none;
  border: 3px solid var(--code-blue);
  box-shadow: 0 0 20px var(--code-blue);
}

.search-bar button{
  background-color: var(--code-orange);
  border-radius: 20px;
  transition: .1s ease-in;
}
.search-bar button:hover{
  cursor: pointer;
  border-color: white;
}

.addNewButton{
  padding: 15px;
  background-color: var(--code-blue);
  color:white;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.219);
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.addNewButton:hover{
  border: 2px solid white;
  cursor: pointer;
}

.newRowForm{
  display:flex;
  font-size: 1.5rem;
  flex-direction:column;
  align-items: center;
}

.newRowForm > div{
  display:flex;
  flex-direction: row;
}
.newRowForm input{
  padding: 15px;
  color:white;
  background-color: var(--code-black);
  border: 2px solid white;
  border-radius: 15px;
  margin: 20px;
}

.newRowForm button{
  padding: 12px;
  color:white;
  background-color: var(--code-black);
  color:white;
  border-radius: 15px;
  border: 2px solid white;
  transition: .1s ease-in;
}

.newRowForm button:hover{
  cursor: pointer;
  background-color: var(--code-blue);
}

.newRowForm select{
  background-color: var(--code-black);
  color:white;
  border: 2px solid white;
  border-radius: 15px;
  width: 100px;
  padding: 15px;
}

.inventory-table{
  margin-top: 30px;
  background-color: white;
  font-size: 2rem;
  width: 100%;
  color:white;
  border: 2px solid white;

}
.inventory-table th, .inventory-table td{
  width: 200px;
  padding: 15px;
  background-color: var(--code-black);
}
.inventory-table button{
  padding: 9px 12px;
  background-color: var(--code-orange);
  color:black;
  font-size: 1rem;
  font-weight: bolder;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid var(--code-black);
  transition: .2s ease-in;
}
.inventory-table button:hover{
  background-color: var(--code-orange);
  cursor: pointer;
  border: 2px solid white;
}

.editForm input{
  width: 100%;
  background-color: var(--code-black);
  border: 1px solid white;
  border-radius: 8px;
  color:white;
  padding: 12px;
  font-size: 1.5rem;
  text-align: center;
}

.editForm select{
  padding: 12px;
  background-color: var(--code-black);
  color:white;
}

.editForm select option{
  font-size: 1.3rem;
}

@media screen and (max-width: 1800px){
  .content{
    margin-top: 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .side-nav{
    display:none;
  }
  .logo{
      padding: 30px;
      height: 125px;
      width: 250px;
      border-radius: 0px;
  }
}

